<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleExecutable</key>
    <string>novakey_r</string>
    <key>CFBundleDisplayName</key>
    <string>NovakeyR</string>
    <key>CFBundleName</key>
    <string>NovakeyR</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>CFBundleIdentifier</key>
    <string>me.sijis.inputmethod.NovakeyR</string>
    <key>CFBundleIconFile</key>
    <string>app.icns</string>

    <key>LSBackgroundOnly</key>
    <string>1</string>
    <key>InputMethodConnectionName</key>
    <string>me.sijis.inputmethod.NovakeyR_Connection</string>
    <key>InputMethodServerControllerClass</key>
    <string>NovakeyRInputController</string>
    <key>tsInputMethodIconFileKey</key>
    <string>logo.tiff</string>
    <key>tsInputMethodCharacterRepertoireKey</key>
    <array>
      <string>Hira</string>
      <string>Kana</string>
      <string>Hani</string>
      <string>Latn</string>
    </array>
    <key>CFBundleDevelopmentRegion</key>
    <string>ja</string>

  </dict>
</plist>